<html lang = 'en'> 
<head>
<title> HOT BEANZ Web Developers </title> 
<script type="text/javascript" src="//counter.websiteout.net/js/3/0/0/0"></script>
<script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
</head>


<table>
    <tr>
        <th> We are looking for recruiments for our site! </th>
        <th> If you are interested please contact 16beven_la@swchs.net </th> 

<br>

{% load static %}
<img src="{% static 'media/barraconstruction.gif' %}" alt="My image">


<script>
    window.addEventListener('load', (event) => {
        new cursoreffects.clockCursor();
      });

</script>






























</html>


