<html lang = 'en'> 
<head>
<title> HOT BEANZ Web Developers </title> 
<script type="text/javascript" src="//counter.websiteout.net/js/3/0/0/0"></script>
<script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
<h3> Visitor counter! </h3>
</head>


<table>
    <tr>
        <th> Welcome to our site! Here you can find all that you need about our web development recruitment. </th>

<br>

<li> <a href = {{'about'}} > About us </a> </li> 


{% load static %}
<img src="{% static 'media/fetch.gif' %}" alt="My image">
<img src="{% static 'media/color_earth.gif' %}" alt="My image">
<img src="{% static 'media/let8.gif' %}" alt="My image">
<img src="{% static 'media/luckyneko.gif' %}" alt="My image">
<img src="{% static 'media/anime.gif' %}" alt="My image">
<img src="{% static 'media/smileyfaces01.gif' %}" alt="My image">


<script>
    window.addEventListener('load', (event) => {
        new cursoreffects.snowflakeCursor();
      });

</script>






















</html>


